h1,h2{ 
	color:black;
}

h1{
	font-size:38px;
}

h2{
	font-size:28px;
}
header img {
	width:200px;
	height:150px;
	float: left;
}

header a{
	text-decoration:none;
}

header {
	display:-webkit-box;
	text-align:center;
}

body{
	margin:30px;
}

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
 
nav{
  font-family: Georgia, Cambria, Times, "Times New Roman", serif;
}

nav{
	padding:1px;
	background-color:#CD5C5C;
}

nav ul li{
	padding:10px;
	display:inline;
	margin:10px;
	font-size:20px;
}

nav ul li:hover{
	background-color:#A52A2A;
}

nav ul li a{
	text-decoration:none;
}

nav ul li a{
	color:black;
}

table {
	margin:0 auto;
	text-align:center;
	width: 890px; 
	height: 100px;
	
}

table thead{
	background-color:#CD5C5C;
	padding:10px;
}

table thead tr td{
	height:40px;
	font-size:18px;
}

#pagination {
 	float:right;
 }
 
#pagination ul li{
  text-align:center;
  text-decoration:none;
  display:inline;
  margin:10px;
 }
 
 #pagination ul li a{
  	color:black;
  	text-decoration:none;
 }
 
 #pagination ul li a:visited{
  	color:black;
 }
main{
	padding-left:50px;
	float:left;
	width:70%;
}
 
aside{
 	float:right;
 	width:25%;
 	border-color:#DCDCDC;
 	border-style:solid;
 	border-width:medium;
}

aside h3 {
	text-align:center;	
}

aside ul li{
	list-style-type:circle;	
	margin:5px;
}

aside ul li:hover{
	background-color:#CD5C5C;
}

aside ul li a{
  	color:black;
  	text-decoration:none;
 }
 
table#left{
	padding-left:160px;
 	float:left;
 	width:40%;
 	
}

table#right{
	padding-right:160px;
 	float:right;
 	width:40%;
 	caption-side:top;
}

h2#sectionTitle{
	text-align:center;
	font-family: Georgia, Cambria, Times, "Times New Roman", serif;
}

.filters{
	margin-left: 170px;
	margin-top:20px;
	margin-bottom:20px;
}

.filters{
	margin-left: 170px;
	margin-top:20px;
	margin-bottom:20px;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #CD5C5C), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #CD5C5C 5%, #c62d1f 100% );
	background-color:#CD5C5C;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d02718;
	font-size:15px;
	height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
}

.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	background-color:#c62d1f;
}

input{
	padding: 5px;
	border : 1px solid #000000;
}

table#statistics{
	width:500px;
	height:90px;	
}

td#title{
	background-color:#D3D3D3;	
}

