@(communities: List[ACObservation], currentFilter:String)
@import play.i18n._
@main(Messages.get("CAs")) {  
<tbody>
	<main>	
		<form action="@routes.Application.showAutonomousCommunities("")" method="GET">
            <input type="search" id="searchboxAC" name="f" value="@currentFilter" placeholder="@Messages.get("FilterCommunity")">
            <input type="submit" id="searchsubmit" value=@Messages.get("Filter") class="btn primary">
        </form>	

  <table>
  				<thead>
  					<td>@Messages.get("CA.Id")</td>
					<td>@Messages.get("CA.Name")</td>
					<td>@Messages.get("Total")</td>
					<td>@Messages.get("TotalMen")</td>
					<td>@Messages.get("TotalWomen")</td>
					<td>@Messages.get("TotalUnder25")</td>
					<td>@Messages.get("TotalMenUnder25")</td>
					<td>@Messages.get("TotalWomenUnder25")</td>
					<td>@Messages.get("TotalOver25")</td>
					<td>@Messages.get("TotalMenOver25")</td>
					<td>@Messages.get("TotalWomenOver25")</td>
				</thead>

                @for(communitie <- communities) {
              
                    <tr>
                        <td>
                        	@communitie.autonomousCommunity.id
                        </td>       
                        <td>
                        	@communitie.autonomousCommunity.name
                        </td>
                        <td>
                         	@communitie.totalValue
                        </td>
                        <td>
                        	@communitie.totalValueMen
                        </td>
                        <td>
                        	@communitie.totalValueWomen
                        </td>
                        <td>
                        	@communitie.totalValueUnder25
                        </td>
                           <td>
                        	@communitie.valueMenUnder25
                        </td>
                            <td>
                        	@communitie.valueWomenUnder25
                        </td>
                        <td>
                        	@communitie.totalValueOver25
                        </td>
                        <td>
                        	@communitie.valueMenOver25
                        </td>
                        <td>
                        	@communitie.valueWomenOver25
                        </td>               
                    </tr>
                }
    </table>
    </main>
    
     <aside>       
      <h3>@Messages.get("Statistics")</h3>      
     <ul>
     	<li><a href="@routes.Application.statistics("acTotal",Messages.get("Total"))">@Messages.get("Total")</a></li>
     	<li><a href="@routes.Application.statistics("acTotalMen",Messages.get("TotalMen"))">@Messages.get("TotalMen")</a></li>
     	<li><a href="@routes.Application.statistics("acTotalWomen",Messages.get("TotalWomen"))">@Messages.get("TotalWomen")</a></li>
		<li><a href="@routes.Application.statistics("acTotalUnder25",Messages.get("TotalUnder25"))">@Messages.get("TotalUnder25")</a></li>
     	<li><a href="@routes.Application.statistics("acTotalMenUnder25",Messages.get("TotalMenUnder25"))">@Messages.get("TotalMenUnder25")</a></li>
     	<li><a href="@routes.Application.statistics("acTotalWomenUnder25",Messages.get("TotalWomenUnder25"))">@Messages.get("TotalWomenUnder25")</a></li>
     	<li><a href="@routes.Application.statistics("acTotalOver25",Messages.get("TotalOver25"))">@Messages.get("TotalOver25")</a></li>
     	<li><a href="@routes.Application.statistics("acTotalMenOver25",Messages.get("TotalMenOver25"))">@Messages.get("TotalMenOver25")</a></li>
     	<li><a href="@routes.Application.statistics("acTotalWomenOver25",Messages.get("TotalWomenOver25"))">@Messages.get("TotalWomenOver25")</a></li>
     </ul>
	</aside>	
  </tbody>
}

