@(currentPage: com.avaje.ebean.Page[HistoricObservation])


@page(newPage:Int) = @{
 		// Generate the link
		routes.Application.list(newPage)
}

@main("Histórico nacional") {    
        <table>
            <thead>
                <tr>
					<td>Año</td>
					<td>Mes</td>
					<td>Valor total</td>
					<td>Sector agricultura</td>
					<td>Sector industria</td>
					<td>Sector construcción</td>
					<td>Sector servicios</td>
					<td>Sin empleo anterior</td>
                </tr>
            </thead>
            <tbody>

                @for(observation <- currentPage.getList) {
                    <tr>
                    	<td>
                         	@observation.year
                        </td>
                        <td>
                         	@observation.month
                        </td>
                        <td>
                        	@observation.obsValue
                        </td>
                          <td>
                        	@observation.agricultureSector
                        </td>      
                        <td>
                        	@observation.industrySector
                        </td>  
                        <td>
                        	@observation.buildingSector
                        </td>  
                        <td>
                        	@observation.servicesSector
                        </td>   
                         <td>
                        	@observation.withoutEmploy	
                        </td>                    
                    </tr>
                }

            </tbody>
        </table>
         <div id="pagination">		 
            <ul>
                @if(currentPage.hasPrev) {
                    <li>
                       <b> <a href="@page(currentPage.getPageIndex - 1)">&larr; Previous</a></b>
                    </li>
                } else {
                    <li>
                        <a>&larr; Previous</a>
                    </li>
                }
                <li>
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li>
                        <b><a href="@page(currentPage.getPageIndex + 1)">Next &rarr;</a></b>
                    </li>
                } else {
                    <li>
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
           <div>
}