@(currentPage: com.avaje.ebean.Page[HistoricObservation],currentFilterYear: String,currentFilterMonth: String)
@import play.i18n._

@page(newPage:Int) = @{
 		// Generate the link
		routes.Application.list(newPage, currentFilterYear,currentFilterMonth)
}

@main(Messages.get("Historical")) {
		
		<form class="filters" action="@page(0)" method="GET">
            <input type="search" id="searchboxYear" name="f" value="@currentFilterYear" placeholder="@Messages.get("FilterYear")">
          	<input type="search" id="searchboxMonth" name="g" value="@currentFilterMonth" placeholder="@Messages.get("FilterMonth")">
            <input type="submit" id="searchsubmit" value=@Messages.get("Filter") class="btn">
        </form>
		<main>

        <table>
            <thead>
                <tr>
					<td>@Messages.get("Year")</td>
					<td>@Messages.get("Month")</td>
					<td>@Messages.get("TotalValue")</td>
					<td>@Messages.get("AgricultureSector")</td>
					<td>@Messages.get("IndustrySector")</td>
					<td>@Messages.get("BuildingSector")</td>
					<td>@Messages.get("ServicesSector")</td>
					<td>@Messages.get("WithoutEmploy")</td>
                </tr>
            </thead>
            <tbody>

                @for(observation <- currentPage.getList) {
                    <tr>
                    	<td>
                         	@observation.year
                        </td>
                        <td>
                         	@observation.month
                        </td>
                        <td>
                        	@observation.obsValue
                        </td>
                          <td>
                        	@observation.agricultureSector
                        </td>      
                        <td>
                        	@observation.industrySector
                        </td>  
                        <td>
                        	@observation.buildingSector
                        </td>  
                        <td>
                        	@observation.servicesSector
                        </td>   
                         <td>
                        	@observation.withoutEmploy	
                        </td>                    
                    </tr>
                }

            </tbody>
        </table>
         <div id="pagination">		 
            <ul>
                @if(currentPage.hasPrev) {
                    <li>
                       <b> <a href="@page(currentPage.getPageIndex - 1)">&larr; @Messages.get("Previous")</a></b>
                    </li>
                } else {
                    <li>
                        <a>&larr; Previous</a>
                    </li>
                }
                <li>
                    <a>@Messages.get("Displaying") @currentPage.getDisplayXtoYofZ(" " + Messages.get("to") + " "," " + Messages.get("of") + " ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li>
                        <b><a href="@page(currentPage.getPageIndex + 1)">@Messages.get("Next") &rarr;</a></b>
                    </li>
                } else {
                    <li>
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
           <div>
      </main>     
                
     <aside>       
      <h3>@Messages.get("Statistics")</h3>      
     <ul>
     	<li><a href="@routes.Application.sectorStatistics("totalValue",Messages.get("TotalValue"))">@Messages.get("TotalValue")</a></li>
     	<li><a href="@routes.Application.sectorStatistics("agricultureSector",Messages.get("AgricultureSector"))">@Messages.get("AgricultureSector")</a></li>
     	<li><a href="@routes.Application.sectorStatistics("industrySector", Messages.get("IndustrySector"))">@Messages.get("IndustrySector")</a></li>
     	<li><a href="@routes.Application.sectorStatistics("buildingSector", Messages.get("BuildingSector"))">@Messages.get("BuildingSector")</a></li>
     	<li><a href="@routes.Application.sectorStatistics("servicesSector", Messages.get("ServicesSector"))">@Messages.get("ServicesSector")</a></li>
		<li><a href="@routes.Application.sectorStatistics("withoutEmploy", Messages.get("WithoutEmploy"))">@Messages.get("WithoutEmploy")</a></li>
     </ul>
	</aside>
}