@(obs: List[ProvinceObservation])
@import play.i18n._
@main("Provinces") {  
<tbody>
	<table>
				<thead>
					<td>@Messages.get("Province.Id")</td>
					<td>@Messages.get("Province.Name")</td>
					<td>@Messages.get("Total")</td>
					<td>@Messages.get("TotalMen")</td>
					<td>@Messages.get("TotalWomen")</td>
					<td>@Messages.get("TotalUnder25")</td>
					<td>@Messages.get("TotalMenUnder25")</td>
					<td>@Messages.get("TotalWomenUnder25")</td>
					<td>@Messages.get("TotalOver25")</td>
					<td>@Messages.get("TotalMenOver25")</td>
					<td>@Messages.get("TotalWomenOver25")</td>
				</thead>
                @for(o <- obs) {
                    <tr>
                     	<td>
                         	@o.province.id
                        </td>
                        <td>
                         	@o.province.name
                        </td>
                        <td>
                        	@o.totalValue
                        </td>
                        <td>
                        	@o.totalValueMen
                        </td>
                        <td>
                        	@o.totalValueWomen
                        </td>
                        <td>
                        	@o.totalValueUnder25
                        </td>
                           <td>
                        	@o.valueMenUnder25
                        </td>
                            <td>
                        	@o.valueWomenUnder25
                        </td>
                        <td>
                        	@o.totalValueOver25
                        </td>
                        <td>
                        	@o.valueMenOver25
                        </td>
                        <td>
                        	@o.valueWomenOver25
                        </td>
                    </tr>
                }
	</table>
            </tbody>

}
