@(title:String, statistics: Map[String,Object], pObsOver:List[ProvinceObservation], pObsUnder:List[ProvinceObservation],acObsOver:List[ACObservation], acObsUnder:List[ACObservation])

@import play.i18n._

@main(title) {
<table id = "statistics">
<tr>
	<td id = "title">@Messages.get("Average")</td>
	<td>@statistics.get("average")</td>
</tr>
<tr>
	<td id = "title">@Messages.get("Max")</td>
	<td>@statistics.get("maxValue")</td>
	<td>@statistics.get("maxValueZone")</td>
</tr>
<tr>
	<td id = "title">@Messages.get("Min")</td>
	<td>@statistics.get("minValue")</td>
	<td>@statistics.get("minValueZone")</td>
</tr>
</table>

@if(pObsOver != null &&pObsUnder !=null){
	<table id="left">
		<thead>
			<tr><td colspan="2">@Messages.get("ProvincesUnderAverage")</td></tr>
			<tr>
			<td>@Messages.get("Province.Id")</td>
			<td>@Messages.get("Province.Name")</td>
			</tr>
		</thead>
		<tbody>
   		@for(o <- pObsUnder) {
            <tr>
               	<td>
      				@o.province.id
                </td>
                <td>
                    @o.province.name
                </td>
		}
		</tbody>
	</table>
	
	<table id="right">
	<thead>
		<tr><td colspan="2">@Messages.get("ProvincesOverAverage")</td></tr>
		<tr>
		<td>@Messages.get("Province.Id")</td>
		<td>@Messages.get("Province.Name")</td>
		</tr>
	</thead>
		<tbody>
   		@for(o <- pObsOver) {
            <tr>
               	<td>
      				@o.province.id
                </td>
                <td>
                    @o.province.name
                </td>
		}
		</tbody>
	</table>
	}
	
@if(acObsOver != null && acObsUnder !=null){	
	
	<table id="left">
		<thead>
			<tr><td colspan="2">@Messages.get("ACUnderAverage")</td></tr>
			<tr>
			<td>@Messages.get("CA.Id")</td>
			<td>@Messages.get("CA.Name")</td>
			</tr>
		</thead>
		<tbody>
   		@for(o <- acObsUnder) {
            <tr>
               	<td>
      				@o.autonomousCommunity.id
                </td>
                <td>
                    @o.autonomousCommunity.name
                </td>
		}
		</tbody>
	</table>
	
	<table id="right">
	<thead>
		<tr><td colspan="2">@Messages.get("ACOverAverage")</td></tr>
		<tr>
		<td>@Messages.get("CA.Id")</td>
		<td>@Messages.get("CA.Name")</td>
		</tr>
	</thead>
		<tbody>
   		@for(o <- acObsOver) {
            <tr>
               	<td>
      				@o.autonomousCommunity.id
                </td>
                <td>
                    @o.autonomousCommunity.name
                </td>
		}
		</tbody>
	</table>
	
	}
	
}
